<div class="row">

    <div class="col col-lg-8">

        <h1 class="text-center m-5">Todos List</h1>

        <div class="selector">
            <ul>
                <li [ngClass]="{'open': this.show==0}"><button class="btn" (click)="showAll()">All Tasks</button></li>
                <li [ngClass]="{'open': this.show==1}"><button class="btn" (click)="showActive()">Active Tasks</button></li>
                <li [ngClass]="{'open': this.show==2}"><button class="btn" (click)="showComplete()">Completed Tasks</button></li>
            </ul>
        </div>

        <div *ngIf="this.show==0;">
            <div *ngIf="this.todos.length==0; else elseBlock"> No Tasks to Display </div>
            <ng-template #elseBlock>    
                <div class="card-group">
                    <ul *ngFor="let todo of todos; index as i">
                        <app-todo-item [todo]="todo" [i]="i" (todoDelete)="todoDelete($any($event))" (todoComplete)="todoComplete($any($event))"></app-todo-item>
                    </ul>
                </div>
            </ng-template>
        </div>

        <div *ngIf="this.show==1;">  
            <div class="card-group">
                <ul *ngFor="let todo of todos; index as i">
                    <li *ngIf="todo.active"><app-todo-item [todo]="todo" [i]="i" (todoDelete)="todoDelete($any($event))" (todoComplete)="todoComplete($any($event))"></app-todo-item></li>
                </ul>
            </div>
        </div>

        <div *ngIf="this.show==2;">
            <div class="card-group">
                <ul *ngFor="let todo of todos; index as i">
                    <li *ngIf="!todo.active"><app-todo-item [todo]="todo" [i]="i" (todoDelete)="todoDelete($any($event))" (todoComplete)="todoComplete($any($event))"></app-todo-item></li>
                </ul>
            </div>
        </div>

    </div>

  <div class="col col-lg-4">
    <div class="add-container">
        <h3 class="text-center">Add New Task</h3>
        <app-add-todo (newTodo)="newTodo($any($event))"></app-add-todo>
    </div>
  </div>
  </div>
